<ul class="nav navbar-nav navbar-right financetopmenu">
    <li><a style="color:#ffffff;" href="@Url.Action("Index", "Finance")"><img src="~/Content/Images/dashboard.png" style="width:16px;height:16px;margin-right:1px;" />Dashboard</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("FeeInvoice", "Finance")"><img src="~/Content/Images/fee_invoice.png" style="width: 16px; height: 16px; margin-right: 1px;" />Fee Invoice</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("FNCInvoice", "Finance")"><img src="~/Content/Images/fee_invoice.png" style="width: 16px; height: 16px; margin-right: 1px;" />FNC Invoice</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("DisbursementInvoice", "Finance")"><img src="~/Content/Images/%c2%a3.png" style="width: 16px; height: 16px; margin-right: 1px;" />Disbursement Invoice</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("Receipt", "Finance")"><img src="~/Content/Images/receipt.png" style="width: 16px; height: 16px; margin-right: 1px;" />Receipts</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("CreditNote", "Finance")"><img src="~/Content/Images/credit_note.png" style="width: 16px; height: 16px; margin-right: 1px;" />Credit Note</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("Customer", "Finance")"><img src="~/Content/Images/people.png" style="width: 16px; height: 16px; margin-right: 1px;" />Customers</a></li>
    <li><a style="color:#ffffff;" href="~/Finance/Payer"><img src="~/Content/Images/payer.png" style="width: 16px; height: 16px; margin-right: 1px;" />Payers</a></li>
</ul>