<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE =edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.TitleHeader</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/lib/jqueri-ui/themes/black-tie/jquery-ui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/lib/jqueri-ui/themes/black-tie/jquery-ui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    @*<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>*@
    <script src='~/lib/tinymce/tinymce.min.js'></script>
</head>
<body style="background-color:#f8eec9;font-family:Arial, Helvetica, sans-serif;font-variant-numeric:normal;">
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jqueri-ui/jquery-ui.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-validation-wrapper/jquery.validate.wrapper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/App/extension.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @*<script src='~/lib/tinymce/tiny_mce.js'></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jqueri-ui/jquery-ui.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-validation-wrapper/jquery.validate.wrapper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/App/extension.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @*<script src='~/lib/tinymce/tiny_mce.js'></script>*@
    </environment>
    <script>
            $(document).ready(function () {
                $(document).bind("contextmenu", function () {
                    return false;
                });
                $.ajax({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("FINANCE-BUSINESS", $.getCookie("FINANCE-BUSINESS"));
                    }
                });
            });
    </script>
    <div class="navbar navbar-default navbar-fixed-top main_header" role="navigation">
        <div class="container-fluid" style="height:80px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='@Url.Action("Index", "Home")'>
                    <img src="~/images/logo.png" />
                </a>
                <h1>
                    @ViewBag.MainHeading
                </h1>
            </div>
            <p style="float:right;color:#ffffff;">
                <strong>@{string userName = string.IsNullOrEmpty(User.Identity.Name) ? "Welcome Guest" : string.Format("You're logged in as - {0} ", User.Identity.Name);} @userName </strong>.
                @if (!string.IsNullOrEmpty(User.Identity.Name))
            {<a href="@Url.Action("LogOff", "Account")" style="cursor:pointer;font-weight:bold;color:#ffffff;"><img src="~/images/exit.png" style="width: 24px; height: 24px; margin-right: 1px;" />[Logout]</a>}
            </p>
            <!--/.nav-collapse -->
        </div>
        <div class="navbar-collapse collapse" style="margin-top:0px;width:auto;float:right;margin-right:23px;">
            @Html.Partial("_HomeTopMenu")
            @if (ViewBag.IsBusinessExists != null && ViewBag.IsBusinessExists)
            {
                <div>@Html.Partial("_FinanceTopMenu")</div>
                <div style="float:right;margin-left:3px;margin-top:10px;">
                    <a href="@Url.Action("Index", "Home", new { })" style="color:#ffffff;font-size:medium;margin:0px;padding:0px;cursor:pointer;border:none;text-decoration:none;">
                        <img src="~/images/home.png" style="width: 32px; height: 32px; margin-right: 1px;" />Home
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="container-fluid" style="margin-top:115px;margin-right:23px;">
        @RenderBody()
    </div>
    <hr>
    <div class="container-fluid DoNotPrint">
        <p>&copy; @DateTime.Now.Year <a href="#">Family Star Ltd</a></p>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
