<ul class="nav navbar-nav navbar-right financetopmenu">
    <li style="margin-top:-6px;">
        <a href="@Url.Action("Index", "Home", new { })" style="color:#ffffff;">
            <img src="~/images/home.png" style="width: 32px; height: 32px; margin-right: 1px;" />Home
        </a>
    </li>
@if (ViewBag.IsBusinessExists != null && ViewBag.IsBusinessExists)
{
    <li><a style="color:#ffffff;" href="@Url.Action("Index", "Finance")"><img src="~/images/dashboard.png" style="width:16px;height:16px;margin-right:1px;" />Dashboard</a></li>
    <li class="dropdown" style="margin-left:3px;margin-top:15px;">
        <a class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff;font-size:medium;margin:0px;padding:0px;cursor:pointer;border:none;text-decoration:none;">
            <img src="~/images/%c2%a3.png" style="width: 16px; height: 16px; margin-right: 1px;" />Invoices<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation" ><a href="@Url.Action("FeeInvoice", "Finance")"><img src="~/images/%c2%a3.png" style="width: 16px; height: 16px; margin-right: 1px;" />Fee Invoice</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" ><a href="@Url.Action("FNCInvoice", "Finance")"><img src="~/images/fee_invoice.png" style="width: 16px; height: 16px; margin-right: 1px;" />FNC Invoice</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" ><a href="@Url.Action("DisbursementInvoice", "Finance")"><img src="~/images/fee_invoice.png" style="width: 16px; height: 16px; margin-right: 1px;" />Disbursement Invoice</a></li>
        </ul>
    </li>
    <li><a style="color:#ffffff;" href="@Url.Action("Receipt", "Finance")"><img src="~/images/receipt.png" style="width: 16px; height: 16px; margin-right: 1px;" />Receipts</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("CreditNote", "Finance")"><img src="~/images/credit_note.png" style="width: 16px; height: 16px; margin-right: 1px;" />Credit Note</a></li>
    <li><a style="color:#ffffff;" href="@Url.Action("Customer", "Finance")"><img src="~/images/people.png" style="width: 16px; height: 16px; margin-right: 1px;" />Customers</a></li>
    <li><a style="color:#ffffff;" href="~/Finance/Payer"><img src="~/images/payer.png" style="width: 16px; height: 16px; margin-right: 1px;" />Payers</a></li>
}
    @if (User.Identity.IsAuthenticated)
    {
        <li class="dropdown" style="float:right;margin-left:3px;margin-top:10px;">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff;font-size:medium;margin:0px;padding:0px;cursor:pointer;border:none;text-decoration:none;">
                <img src="~/images/business.png" style="width: 32px; height: 32px; margin-right: 1px;" />Business<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Business", "Home", new { })"><img src="~/Images/business.png" style="width: 24px; height: 24px;" />Business</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">General</a></li>
            </ul>
        </li>
        <li class="dropdown" style="float:right;margin-left:3px;margin-top:10px;">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff; font-size:medium;margin:0px;padding:0px;cursor:pointer;border:none;text-decoration:none;">
                <img src="~/images/setting.png" style="width: 32px; height: 32px; margin-right: 1px;" />Account<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Register", "Account", new { })"><img src="~/Images/people.png" style="width: 24px; height: 24px;" />Register</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Account", new { })"><img src="~/Images/setting.png" style="width: 24px; height: 24px;" />Manage</a></li>
            </ul>
        </li>
    }
</ul>